Repository abhisheksr01/circleci-experiments: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-helloworld, run-calculator

fix(#2): workflows name in circleci
  .circleci/workflows.yml
Due: none

fix(#2): add branch filtering
  .circleci/workflows.yml
Due: none

fix(#2): attempt to fix the pipeline failure
  .circleci/workflows.yml
Due: none

fix(#2): remove branch filter
  .circleci/workflows.yml
Due: none

chore(#2): check circleci workflow trigger for calculator
  calculator/src/Calculator.ts
Due: run-helloworld

fix(#2): upate param reference for correct exec of workflows
  .circleci/config.yml
Due: none

feat(#2): add calculator exec job in circleci
  .circleci/workflows.yml
  calculator/src/Calculator.ts
Due: run-helloworld

feat(#2): update calcular exec job
  .circleci/workflows.yml
  calculator/package-lock.json
Due: run-helloworld

feat(#2): testing workflow for helloworld add
  helloworld/src/HelloWorld.ts
Due: run-calculator

feat(#3): add circleci slack integration
  .circleci/workflows.yml
  helloworld/src/HelloWorld.ts
Due: run-calculator

fix(#3): move slack/notify from job to steps
  .circleci/workflows.yml
Due: none

fix(#3): test slack notification
  calculator/src/Calculator.ts
Due: run-helloworld

fix(#3): use slack deploy template
  .circleci/workflows.yml
  calculator/src/Calculator.ts
Due: run-helloworld

fix(#3): test slack notification with event always
  .circleci/workflows.yml
  calculator/src/Calculator.ts
Due: run-helloworld

chore(#3): bump slack orb to 4.9.3
  .circleci/workflows.yml
  calculator/src/Calculator.ts
Due: run-helloworld

fix: upgrade express from 4.17.3 to 4.18.1
  helloworld/package-lock.json
  helloworld/package.json
Due: run-calculator

test with simple workflow
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

try combined caching
  .circleci/config.yml
Due: none

fix: helloworld/package.json & helloworld/package-lock.json to reduce vulnerabilities
  helloworld/package-lock.json
  helloworld/package.json
Due: run-calculator

Path conditions:
  run-helloworld: any of: calculator/.*
  run-calculator: any of: helloworld/.*
